### File size unification for CDN trace

In [3]:
%matplotlib inline

import numpy as np
import pandas as pd
from collections import OrderedDict
import matplotlib.pyplot as plt

from tqdm import tqdm

In [4]:
ori_df = pd.read_csv('../../traces/MSR-Cambridge2/CAMRESSDPA01-lvm0.csv', header=None)
ori_df.columns = ['Timestamp', 'Hostname', 'DiskNumber', 'Type', 'Offset', 'Size', 'ResponseTime']
ori_df['Timestamp'] = ori_df['Timestamp'].astype(np.int64)
ori_df = ori_df.sort_values(by='Timestamp')
ori_df.head()
#df.tail()

,Timestamp,Hostname,DiskNumber,Type,Offset,Size,ResponseTime
0,128166373321652068,src1,0,Write,3173167104,36864,3126
1,128166373321653856,src1,0,Write,3154128896,4096,1337
2,128166373321653876,src1,0,Write,3154132992,4096,1318
3,128166373371652876,src1,0,Write,3744964608,4096,1998
4,128166373421651545,src1,0,Write,3173203968,32768,3009

In [5]:
unified_df = ori_df
unified_df.head()

,Timestamp,Hostname,DiskNumber,Type,Offset,Size,ResponseTime
0,128166373321652068,src1,0,Write,3173167104,36864,3126
1,128166373321653856,src1,0,Write,3154128896,4096,1337
2,128166373321653876,src1,0,Write,3154132992,4096,1318
3,128166373371652876,src1,0,Write,3744964608,4096,1998
4,128166373421651545,src1,0,Write,3173203968,32768,3009

In [10]:
mod = 96767
unified_df['unified_size'] = unified_df['Offset']%mod

In [11]:
unified_df.head()

,Timestamp,Hostname,DiskNumber,Type,Offset,Size,ResponseTime,unified_size
0,128166373321652068,src1,0,Write,3173167104,36864,3126,80407
1,128166373321653856,src1,0,Write,3154128896,4096,1337,8531
2,128166373321653876,src1,0,Write,3154132992,4096,1318,12627
3,128166373371652876,src1,0,Write,3744964608,4096,1998,81708
4,128166373421651545,src1,0,Write,3173203968,32768,3009,20504